.container-fluid{
    background-color: #f0f2f5;
}

#icono-dropdown{
    margin-right: 30px;
    margin-left: 20px;
}
#pills-tab{
    margin-top: 50px;
}
.nav-pills .nav-link{
    color: rgb(76, 76, 76);
    font-weight: bold;
    font-size: 18px;
}
.imagenes-grid3x3{
    padding: 10px;
}
.contenedor-imagenes-grid3x3{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}
.carta{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}
.fecha{
    color: gray;
}
#pills-profile .card{
    margin-bottom: 50px;
}